<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.text.park.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.text.park.entity.User">
       <id column="id" property="id" />
    <result column="mobile" property="mobile" />
    <result column="nickname" property="nickname" />
    <result column="password" property="password" />
    <result column="head_img_url" property="headImgUrl" />
    <result column="birthday" property="birthday" />
    <result column="realname" property="realname" />
    <result column="address" property="address" />
    <result column="province" property="province" />
    <result column="work_place" property="workPlace" />
    <result column="isdisabled" property="isdisabled" />
    <result column="sex" property="sex" />
    <result column="open_id" property="openId" />
    <result column="integral" property="integral" />
    <result column="insist_count" property="insistCount" />
    <result column="team_id" property="teamId" />
    <result column="team_exercise_count" property="teamExerciseCount" />
    <result column="school" property="school" />
    <result column="department" property="department" />
    <result column="addtime" property="addtime" />
    <result column="updatetime" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, mobile, nickname, `password`, head_img_url, birthday, realname, address, province,
    work_place, isdisabled, sex, open_id, integral, insist_count, team_id, team_exercise_count,
    school, department, addtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.text.park.entity.User">
    <!--@mbg.generated-->
    insert into `user` (id, mobile, nickname, `password`, head_img_url, birthday, realname,
      address, province, work_place, isdisabled, sex, open_id, integral,
      insist_count, team_id, team_exercise_count, school, department, addtime,
      updatetime)
    values (#{id}, #{mobile}, #{nickname}, #{password}, #{headImgUrl}, #{birthday}, #{realname},
      #{address}, #{province}, #{workPlace}, #{isdisabled}, #{sex}, #{openId}, #{integral},
      #{insistCount}, #{teamId}, #{teamExerciseCount}, #{school}, #{department}, #{addtime},
      #{updatetime})
  </insert>
  <insert id="insertSelective" parameterType="com.text.park.entity.User">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="mobile != null and mobile != ''">
        mobile,
      </if>
      <if test="nickname != null and nickname != ''">
        nickname,
      </if>
      <if test="password != null and password != ''">
        `password`,
      </if>
      <if test="headImgUrl != null and headImgUrl != ''">
        head_img_url,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="realname != null and realname != ''">
        realname,
      </if>
      <if test="address != null and address != ''">
        address,
      </if>
      <if test="province != null and province != ''">
        province,
      </if>
      <if test="workPlace != null and workPlace != ''">
        work_place,
      </if>
      <if test="isdisabled != null">
        isdisabled,
      </if>
      <if test="sex != null and sex != ''">
        sex,
      </if>
      <if test="openId != null and openId != ''">
        open_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="insistCount != null">
        insist_count,
      </if>
      <if test="teamId != null and teamId != ''">
        team_id,
      </if>
      <if test="teamExerciseCount != null">
        team_exercise_count,
      </if>
      <if test="school != null and school != ''">
        school,
      </if>
      <if test="department != null and department != ''">
        department,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id},
      </if>
      <if test="mobile != null and mobile != ''">
        #{mobile},
      </if>
      <if test="nickname != null and nickname != ''">
        #{nickname},
      </if>
      <if test="password != null and password != ''">
        #{password},
      </if>
      <if test="headImgUrl != null and headImgUrl != ''">
        #{headImgUrl},
      </if>
      <if test="birthday != null">
        #{birthday},
      </if>
      <if test="realname != null and realname != ''">
        #{realname},
      </if>
      <if test="address != null and address != ''">
        #{address},
      </if>
      <if test="province != null and province != ''">
        #{province},
      </if>
      <if test="workPlace != null and workPlace != ''">
        #{workPlace},
      </if>
      <if test="isdisabled != null">
        #{isdisabled},
      </if>
      <if test="sex != null and sex != ''">
        #{sex},
      </if>
      <if test="openId != null and openId != ''">
        #{openId},
      </if>
      <if test="integral != null">
        #{integral},
      </if>
      <if test="insistCount != null">
        #{insistCount},
      </if>
      <if test="teamId != null and teamId != ''">
        #{teamId},
      </if>
      <if test="teamExerciseCount != null">
        #{teamExerciseCount},
      </if>
      <if test="school != null and school != ''">
        #{school},
      </if>
      <if test="department != null and department != ''">
        #{department},
      </if>
      <if test="addtime != null">
        #{addtime},
      </if>
      <if test="updatetime != null">
        #{updatetime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.text.park.entity.User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="mobile != null and mobile != ''">
        mobile = #{mobile},
      </if>
      <if test="nickname != null and nickname != ''">
        nickname = #{nickname},
      </if>
      <if test="password != null and password != ''">
        `password` = #{password},
      </if>
      <if test="headImgUrl != null and headImgUrl != ''">
        head_img_url = #{headImgUrl},
      </if>
      <if test="birthday != null">
        birthday = #{birthday},
      </if>
      <if test="realname != null and realname != ''">
        realname = #{realname},
      </if>
      <if test="address != null and address != ''">
        address = #{address},
      </if>
      <if test="province != null and province != ''">
        province = #{province},
      </if>
      <if test="workPlace != null and workPlace != ''">
        work_place = #{workPlace},
      </if>
      <if test="isdisabled != null">
        isdisabled = #{isdisabled},
      </if>
      <if test="sex != null and sex != ''">
        sex = #{sex},
      </if>
      <if test="openId != null and openId != ''">
        open_id = #{openId},
      </if>
      <if test="integral != null">
        integral = #{integral},
      </if>
      <if test="insistCount != null">
        insist_count = #{insistCount},
      </if>
      <if test="teamId != null and teamId != ''">
        team_id = #{teamId},
      </if>
      <if test="teamExerciseCount != null">
        team_exercise_count = #{teamExerciseCount},
      </if>
      <if test="school != null and school != ''">
        school = #{school},
      </if>
      <if test="department != null and department != ''">
        department = #{department},
      </if>
      <if test="addtime != null">
        addtime = #{addtime},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.text.park.entity.User">
    <!--@mbg.generated-->
    update `user`
    set mobile = #{mobile},
      nickname = #{nickname},
      `password` = #{password},
      head_img_url = #{headImgUrl},
      birthday = #{birthday},
      realname = #{realname},
      address = #{address},
      province = #{province},
      work_place = #{workPlace},
      isdisabled = #{isdisabled},
      sex = #{sex},
      open_id = #{openId},
      integral = #{integral},
      insist_count = #{insistCount},
      team_id = #{teamId},
      team_exercise_count = #{teamExerciseCount},
      school = #{school},
      department = #{department},
      addtime = #{addtime},
      updatetime = #{updatetime}
    where id = #{id}
  </update>
</mapper>